@{
  Layout = "_Layout";
}

@model LarryDavid.Models.Theme

<h2>Update Joke</h2>

@using(Html.BeginForm())
{
  @Html.HiddenFor(model => model.ThemeId)

  @Html.Label("Joke:")
  @Html.TextBoxFor(model => model.Joke)

  @* @Html.Label("Joke")
  @Html.DropDownList("ThemeId") *@

  <input type="submit" value="Save" class="btn btn-primary">
}