@{
  Layout = "_Layout";
}

@model LarryDavid.Models.Episode

<h2>Add new episode</h2>

@using(Html.BeginForm(new { htmlAttributes = new { @class = "form-vertical" }}))
{
  <div class="form-group">
    @Html.LabelFor(model => model.Show)
    <div>
    @Html.TextBoxFor(model => model.Show, new { htmlAttributes = new { @class = "form-control" }})
    </div>
  </div>  
  @* <br/> *@
  <div class="form-group">
    @Html.LabelFor(model => model.SeasonEpisode) 
    <div>
    @Html.TextBoxFor(model => model.SeasonEpisode, new { htmlAttributes = new { @class = "form-control" }})
    </div>
  </div>  
  @* <br/> *@
  <div class="form-group">
    @Html.Label("Joke")
    <div>
    @Html.DropDownList("ThemeId")
    </div>
  </div> 
  @* <br/> *@
  <input type="submit" value="+Episode" class="btn btn-primary">
}